header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
  background-color: #0f0f0f;
}

header .header_items {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_items img {
  width: 40px;
}

header .header_items_menu {
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

header .header_items_menu a {
  color: white;
  text-decoration: none;
}

header .header_items_burger {
  display: none;
}


@media only screen and (max-width: 991px) {
  header .header_items_menu {
    margin-left: 100px;
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  header .header_items_menu {
    font-size: 13px;
    margin-left: 50px;
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  header {
    height: 50px;
  }
  header .header_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
  }
  header .header_items img {
    width: 30px;
  }
  header .header_items_menu {
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_items_menu a {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 20px;
  }
  header .header_items_menu.active {
    left: 0;
  }
  header .header_items_burger {
    padding: 10px;
    display: block;
  }
  header .header_items_burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin-top: 5px;
  }
  header .header_items_burger div:nth-child(1) {
    margin-top: 0;
  }
}